.home-container {
  background-color: white;
}
.home-rectangle {
  width: 30px;
  height: 90px;
  overflow: hidden;
  position: relative;
}

.home-rectangle:before,
.home-rectangle:after {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  transform: scaleY(1.3) translate(30%, -30px) rotate(45deg);
}

.home-rectangle:before {
  left: -7px;
  top: 59px;
  border-radius: 10px;
  background-color: #41b883;
}

.home-rectangle:after {
  left: 7px;
  top: 59px;
  border-radius: 5px;
  background-color: #fff;
}